<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Karmen Klaasen, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Karmen Klaasen</h1>
	<p>See veebileht on valminud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate instituudi informaatika eriala õppetöö raames.</p>
	<hr>
	<p>Alustasin bakalaureuse õpinguid Tallinna ülikoolis 2023 aasta septembris.</p>
	<p>Mulle ei meeldi lauslollus.</p>
	<hr>
	<ul>
		<li><a href="/timenow">Aeg praegu</a></li>
		<li><a href="/wisdom">Vanasõnad</a></li>
	</ul>
</body>
</html>